# Application
APP_NAME=finova-api

# Migration
FLYWAY_ENABLED=true
FLYWAY_LOCATIONS=classpath:db/migration

# Database
DB_URL=jdbc:mysql://localhost:3306/finova
DB_USER_NAME=root
DB_PASSWORD=

# JWT
# Generate a secure secret: openssl rand -hex 32
JWT_SECRET=72f3f8fabf543f0659aa36e6f3c264cdbeed53b2bdec113ccddd77e2e3fc737e
# 1 hour (3600000 ms)
JWT_EXPIRATION=3600000
# 1 day (86400000 ms)
JWT_REFRESH_EXPIRATION=86400000

# Cookie
# Set to true in production (HTTPS only)
COOKIE_SECURE=false
# 15 minutes (900 seconds)
COOKIE_ACCESS_TOKEN_MAX_AGE=900
# 7 days (604800 seconds)
COOKIE_REFRESH_TOKEN_MAX_AGE=604800
# Leave empty for current domain, or set to .yourdomain.com
COOKIE_DOMAIN=

# Mail
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SMTP_AUTH=true
MAIL_STARTTLS_ENABLE=true
MAIL_FROM=your_email@gmail.com
MAIL_SENDER_NAME=Finova
